@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "List Users";
}

<div class="card">
    <h2>List Users</h2>

    @if (Model.Any())
    {
        <div class="d-flex justify-content-center">
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-4 mt-2" style="width:auto;">Add new User</a>
        </div>
        foreach (var user in Model)
        {
            <div class="card mb-4">
                <div class="card-header mb-2">UserId: @user.Id</div>
                <div class="card-body">
                    FullName:  @user.FullName<br />
                    UserName:  @user.UserName<br />
                    Email:  @user.Email<br />
                    Address:  @user.Address
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary" style="width:auto">Edit User</a>&nbsp &nbsp &nbsp

                            <span id="confirmDeleteSpan_@user.Id" style="display:none;">
                                <span>Are you sure you want to Delete?</span>
                                <button type="submit" class="btn btn-danger" style="width:auto">Yes</button>
                                <a href="#" class="btn btn-primary" style="width:auto"  onclick="confirmDelete('@user.Id', false)">No</a>
                            </span>
                            <span id="deleteSpan_@user.Id">
                                <a href="#" class="btn btn-danger" style="width:auto"  onclick="confirmDelete('@user.Id', true)">Delete User</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card-header">Not Users Created Yet.</div>
        <div class="card-body">
            <div class="card-title">Use the button below to Create User</div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register" style="width:auto">Add new User</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/assets/js/CustomScripts.js"></script>
}
